nav {
  height: 150px;
  padding: 0 3rem;
}

nav a:hover,
.nav-dropdown a:hover {
  text-decoration: line-through;
}

.clef {
  width: 48px;
}

.nav-dropdown {
  height: 100vh;
  margin-top: -100px;
  display: none;
}

.nav-mobile-icon-times {
  display: none;
}

@media (max-width: 767.98px) {
  nav {
    height: 100px;
    padding: 0 2rem;
  }
  .clef {
    width: 36px;
  }
}
